
body{
    font-family: arial,sans-serif;
}


.nav_bar{

    height:30px;
    
    width: 100%;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 12px;
    margin-left:5px;
    
}

.gmail{

    
    width:3%;
    margin-left:84%;
    display: inline-flex;
    padding:3px;
    line-height: 20px;
    
    text-align:right;

}
.imagini{
   
    width:3.5%;
    height: 20px;
    display: inline-flex;
    padding: 3px;
    line-height: 20px;
    padding-left: 10px;
   
}

.drop{

   
    width:3%;
    display: inline-flex;
   height: 25px;
   width:25px;
  
  line-height: 20px;
}

.buton{

    
    display: inline-block;
    margin-left:30px;
    width:55px;
    background:-moz-linear-gradient(top,#4387fd,#4683ea);
    padding:0 12px;
    line-height: 25px;
    border-radius: 2px;
    border: 1px solid #4285f4;
    color: #fff;
    text-align: center;
    padding-right: 15px;
    font-weight: bold;
    
}

.buton a{
    text-decoration: none;
    cursor: default;
    color:#fff;
    
}
.buton:hover{

    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.gmail a{

    text-align: right;
    padding-left: 20px;
    color: black;
    text-decoration: none;

}
.imagini a{

    text-align: right;
    padding-left: 10px;
    color: black;
    text-decoration: none;
}

.gmail a:hover{
    text-decoration: underline;
}
.imagini a:hover{
    text-decoration: underline;
}

#logo{

    margin-top:130px;
    
    margin-left:765px;
    
}

#goo{
    height:233px;
    
}

.bara form{

    text-align: center;
    margin-top: -40px;
    width: 100%;
    
}

.cautare{
    height:45px;
    width: 550px;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    background: transparent;
    


}

input{
    padding-left: 20px;
    
}

input[type="search"]
{
    cursor: pointer;
    background:url(https://www.gstatic.com/inputtools/images/tia.png) no-repeat center;
    
    background-size:19px 11px;
    background-position-x:97%;
    background-position-y:18px;
    
}

input[type='search']:hover{
    
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);

    
    }


.alege{

  
    width:500px;
    height:90px;
    padding-top: 15px;
    text-align: center;
    margin-left: 700px;
    margin-top: 10px;

}

input[type="submit"]
{
padding: 0 10px;
margin-left:15px;
height:35px;
background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
border:1 px solid #f2f2f2;
width: 150px;
border-radius:4px;
cursor: pointer;
color: #5F6368;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;e

}


.ggl{
    
    margin-left:5px;

}

p{
    margin-top:40px;
    font-size: small;

}

p a{

    text-decoration: none;
    padding: 0 3px;
}

.pub{
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    width:100%;
    justify-content: space-between;
    height: 41px;
    border-top: .5px solid #e6e6e6;
    margin-left:-10px;
    padding: 0;

}

.stanga{

    padding-left: 22px;
padding-top: 11px;
text-decoration: none;

}

footer a{

    font-family: arial,sans-serif;
font-size: 13px;
color: #5f6368;
text-decoration-line: none;
margin: 0 5px;
}

.dreapta{
    padding-right: 22px;
    padding-top: 11px;


}

.tara{

margin-top:355px;
padding: 0 15px;
background-color: #f2f2f2;

height:10px;

}

footer p{
    color: rgb(133, 132, 132);
    font-size: 14px;
}

